:root {
  /*colors with variables as practice*/
  --clr-main-bg: hsl(212, 45%, 89%);
  --clr-black: #000;
  --clr-grey: grey;
  --clr-white: #fff;
  --clr-turquoise: turquoise;

  --doc-height: 100%;
}

body {
  background-color: var(--clr-main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
  font-weight: 400;
  min-height: calc(100vh - 2rem);
  height: var(--doc-height);
}

img {
  border-radius: 0.5rem;
  width: 100%;
}

h1 {
  color: var(--clr-black);
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  color: var(--clr-grey);
  display: block;
  font-size: 0.7rem;
}

a {
  color: var(--clr-turquoise);
  text-decoration: none;
}

.attribution {
  font-size: 10px;
  position: relative;
  top: 2rem;
}

.card {
  background-color: var(--clr-white);
  border-radius: 1rem;
  padding: 0.7rem;
  text-align: center;
  width: 244px;
}

@media query screen only  {

}
