:root {
  /*colors with variables as practice*/
  --clr-body-bg: hsl(212, 45%, 89%);
  --clr-main-bg: #fff;
  --clr-headings: #000;
  --clr-paragraphs: grey;
  --clr-anchor: turquoise;
}

body {
  background-color: var(--clr-body-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
  font-weight: 400;
  min-height: calc(100vh - 2rem);
}

img {
  border-radius: 0.5rem;
  width: 100%;
}

h1 {
  color: var(--clr-headings);
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  color: var(--clr-paragraphs);
  display: block;
  font-size: 0.7rem;
}

a {
  color: var(--clr-anchor);
  text-decoration: none;
}

.attribution {
  font-size: 10px;
  position: relative;
  top: 2rem;
}

.card {
  background-color: var(--clr-main-bg);
  border-radius: 1rem;
  padding: 0.7rem;
  text-align: center;
  width: 244px;
}

@media screen and (max-width: 480px) {
  .card p {
    padding-inline: 1rem;
  }
  h1 {
    color:red;
  }
}
